@use 'fonts';
@use 'typography';

a, button:not([disabled]) {
  // @extend %font--underline;

  color: var(--color--link, var(--color--blue));
  display: inline-block;
  cursor: pointer;

  &:visited {
    color: var(--color--link, var(--color--blue));
  }

  &:hover {
    text-decoration: none;
  }

  &:focus-visible {
    @extend %type--layout;
    
    outline: calc(var(--typography--underline) * 2em) solid rgba(0, 0, 0, .7);
    outline-offset: calc(var(--typography--underline--shift) * -1em);
    border-radius: 0.25rem;
  }

  &:has(img, video):focus-visible {
    outline-offset: calc(0.5 * var(--typography--cap));
  }
}

a[href]::after {
  content: '[↗]';
  // vertical-align: super;
  font-size: .5em;
  padding-left: .5rem;
  transform: translateY(-.6em);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  display: inline-block;
}