@use 'layout';
@use 'typography';

nav {
  @extend %constrain-width;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: var(--transition);
  background-color: var(--color--white);

  a {
    &:first-of-type {
      @extend %type--layout;

      display: inline-flex;
      align-items: center;
      gap: var(--typography--cap);
    }

    p {
      margin: unset;
    }
  }
  
  ul {
    margin: unset;
  }
}

footer {
  display: flex;
  justify-content: space-between;

  p {
    margin: unset;
  }
}

main {
  footer {
    margin-top: calc(2 * var(--gutter));
  }
}