@use 'fonts';
@use 'typography';
@use 'mixins' as *;

body.work {
  
  header {
    display: grid;
    gap: var(--gutter);
  }

  dl {
    @extend %type--layout;

  
    padding-top: calc(0.5 * var(--gutter));
    padding-bottom: calc(0.5 * var(--gutter));
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    // width: fit-content;
    grid-template-columns: minmax(0, min-content) minmax(0, 2fr);
    column-gap: calc(1 * var(--gutter));
    row-gap: var(--typography--between);
  }

  .hero {
    display: flex;
    justify-content: center;
    
    figure {
      img, video {
        max-height: 55vh;
      }
    }
  }
}